{% extends "app/layout.html" %}

{% block content %}

<h2>О компании</h2>
<h3>Туристическое агентство "Мир путешествий"</h3>

<p>Наша компания работает на рынке туристических услуг с 2010 года. За это время мы помогли тысячам клиентов организовать незабываемый отдых в разных уголках мира.</p>

<p>Наши преимущества:</p>
<ul>
    <li>Большой опыт работы на туристическом рынке</li>
    <li>Сотрудничество только с проверенными партнерами</li>
    <li>Индивидуальный подход к каждому клиенту</li>
    <li>Гибкая система скидок и бонусов</li>
    <li>Поддержка клиентов 24/7 во время путешествия</li>
</ul>

<p>Мы стремимся сделать ваш отдых комфортным, безопасным и незабываемым!</p>

{% endblock %}
