{% extends 'app/layout.html' %}
{% block content %}
<h2>Видео</h2>
<div style="display: flex; flex-wrap: wrap; gap: 40px;">
    <div>
        <video width="400" controls poster="/static/app/content/poster1.jpg">
            <source src="/static/app/content/video1.mp4" type="video/mp4">
            Ваш браузер не поддерживает видео.
        </video>
        <p>Видео 1</p>
    </div>
    <div>
        <video width="400" controls poster="/static/app/content/poster2.jpg">
            <source src="/static/app/content/video2.mp4" type="video/mp4">
            Ваш браузер не поддерживает видео.
        </video>
        <p>Видео 2</p>
    </div>
</div>
{% endblock %} 